.App {
  text-align: center;
}

.header{
  font-weight: 500;
  font-size: larger;
  border: 2px solid;
  background-color: brown;
  color: white;
  text-align: center;
}

.formHeader{
  margin-left: 12px;
}
.add-contact{
  font-size: initial;
  font-weight: 500;
  font-family: fantasy;
  margin-left: 12px;
}

input{
  margin-bottom: 5px;

}
.btn{
  border-color: cadetblue;
  color: brown;
  cursor: pointer;
  
}
.ContactsHeader{
  font-size: medium;
  font-weight: 500;
  font-family: system-ui;
  margin-left: 12px;
  margin-top: 20px;

}

.add-contact{
  font-size: initial;
  font-weight: 500;

}
.form{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}

.contacts{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  background: rgb(179, 230, 173);
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 5px;
}